*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Roboto', sans-serif;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
/*background image and menu
 ================================*/


header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
	height: 130vh;
	background-size:cover;
	background-position: center;
}
.main ul{
	list-style-type: none;
	float: right;
	margin-top: 15px;
}
.main ul li{
	display: inline-block;
  margin-top: 20px;
}
.main ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	transition: 0.6s ease;
}
.main ul li a:hover{
	background-color: #fff;
	color: black;
}
ul li.active a{
	background-color: #fff;
	color: black;
}


/*left nav
========================== */


label{
    color:#fff;
		font-family: 'Concert One', cursive;
    font-size: 30px;
    position: absolute;
    margin:20px 0 0 20px;;
}
label span{
	color: red;
}
.logo img{
	float: left;
	width: 70px;
	height: auto;
	margin:0px 0 0 30px;
}
.main{
	max-width: 1200px;
	margin: auto;
}


/* Body
================== */


.music{
  background-color: #FFF;
  width: 120px;
  height: 60px;
  margin-top: 10px;
}
.music a{
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
.music img{
  width: 25px;
}
.title{
	position: absolute;
	top: 75%;
	left:50%;
	transform: translate(-50%,-50%);
}

/*Footer
==================*/


footer{
	background-color: #232323;
	color: #FFF;
}
.social-media-icons img{
	width: 50px;
}
.social-media-icons  {
	list-style-type: none;
}
.social-media-icons  li{
 display: inline-block;
 padding: 50px 20px 0 30px;
}
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.unstyled-list li {
	padding:15px 0 15px 0;
  text-align: center;
}
ul.unstyled-list li a{
	padding:15px 0 15px 0;
	text-decoration: none;
	color: #FFF;
}
ul.unstyled-list li a:hover{
	color: #1a53ff;
}
ul.unstyled-list strong{
	color: grey;
}
.logo-small img{
	width: 40px;
}
.logo-small label{
	font-size: 20px;
	margin:7px 0 0 15px;;
}


/*second Footer
=====================*/


.last-footer{
	background-color:#272727;
}
.bottom-list li {
	display: inline-block;
	padding: 50px 20px 20px 20px;
	color: grey;
	font-size: 11px;
}
.bottom-list li:nth-child(5) {
	float: right;
	color: #1a53ff;
}
.bottom-list li:hover {
	color: #1a53ff;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.music{
  margin: 10px;
  width: 200px;
  height: 120px;
  margin-top: 10px;
  text-align: center;
}
.music a, img{
  margin-top:27px;
}
.title{
	top: 55%;
}
header{
	height: 100vh;
}
}
