*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Roboto', sans-serif;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
  }
	.col-2{width: 33.3%;}
	ul{
		float: left !important;
	}
	header{
 		height: 40vh !important;
	}
	.main ul li{
		margin-top: 10px;
	}


	section{
		margin-top: 100px !important
	}
	.about-body-download{
		padding-top: 20px !important;
		margin-left: 45px !important;
	}
	.about-body-icon{
		color: #FFF;
		width: auto !important;
	}
	.about-body-download:hover{
		opacity: 0.5;
	}
	.about-body-icon img{
		width: 40px !important;
	}
	.about-body-icon ul{
		width: 70% !important;
		margin-right: 50px !important;
	}
	.wrapper2{
		margin-left: 120px;
	}



	.bottom-list li:nth-child(5) {
		margin-left: 10px !important;
		margin-top: 0 !important;
		color: #1a53ff;
	}
	.social-media-icons{
		margin-left: 40px;
	}
	.social-media-icons img{
		width: 40px !important;
	}
}


/*background image and menu
 ================================*/


header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
	background-size: cover;
  height: 15vh;
	background-position: center;
}
.main ul{
	list-style-type: none;
	float: right;
	margin-top: 35px;
}
.main ul li{
	display: inline-block;
}
.main ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	transition: 0.6s ease;
}
.main ul li a:hover{
	background-color: #fff;
	color: black;
}
ul li.active a{
	background-color: #fff;
	color: black;
}


/*left nav
========================== */


label{
    color:#fff;
		font-family: 'Concert One', cursive;
    font-size: 30px;
    position: absolute;
    margin:20px 0 0 20px;;
}
label span{
	color: red;
}
.logo img{
	float: left;
	width: 70px;
	height: auto;
	margin-left:10px 0 0 30px;
}
.main{
	max-width: 1200px;
	margin: auto;
}


/*body
======================*/

section{
	background-color: #FFF;
	width: 100%;
	height: auto;
}
.about-body-download{
	font-size: 40px;
	padding-top: 100px;
	margin: auto;
  width: 20%;
}
.wrapper a:link{
	text-decoration: none;
	color: #2a268c;
	border: 3px solid #2a268c;
	padding: 25px;
}
.wrapper a:active{
	color: aqua;
}
.about-body-label{
	color: #2a268c;
	font-size: 35px;
	text-align: center;
	padding-top:25px;
}
.about-body-icon{
	color: #FFF;
}
.about-body-download:hover{
	opacity: 0.5;
}
.about-body-icon img{
	width: 80px;
}
.about-body-icon ul{
	width: 20%;
	margin: auto;
}
.about-body-icon ul li{
	margin-right: 60px;
	display: inline-block;
}




/*Footer
==================*/


footer{
	background-color: #232323;
	color: #FFF;
}
.social-media-icons img{
	width: 70px;
}
.social-media-icons  {
	list-style-type: none;
}
.social-media-icons  li{
 display: inline-block;
 padding: 50px 20px 0 30px;
}
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.unstyled-list li {
	padding:15px 0 15px 0;
}
ul.unstyled-list li a{
	padding:15px 0 15px 0;
	text-decoration: none;
	color: #FFF;
}
ul.unstyled-list li a:hover{
	color: #1a53ff;
}
ul.unstyled-list strong{
	color: grey;
}
.logo-small img{
	width: 40px;
}
.logo-small label{
	font-size: 20px;
	margin:7px 0 0 15px;;
}



/*second Footer
=====================*/


.last-footer{
	background-color:#272727;
}
.bottom-list li {
	display: inline-block;
	padding: 150px 20px 20px 20px;
	color: grey;
	font-size: 13px;
}
.bottom-list li:nth-child(5) {
	float: right;
	color: #1a53ff;
}
.bottom-list li:hover {
	color: #1a53ff;
}
